include README.md
include LICENSE
include requirements.txt
include SETUP.md
recursive-include examples *.py
recursive-include examples *.md
exclude tests.py
exclude test_setup.py
exclude demo.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude *.pyd
global-exclude .DS_Store
global-exclude *.so
global-exclude .git*
